/* Theme Name: Lugada - Landing page Template
   Author: Coderthemes
   Author e-mail: coderthemes@gmail.com
   Version: 1.0.0
   Created:Jun 2015
   File Description:Main CSS file of the template
*/



/*========= Custom Font =========*/
@font-face {
    font-family: "WeblySleek UI";
    src: url("../fonts/ws-ui.eot");
    src: local('WeblySleek UI Regular'), url("../fonts/ws-ui.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url("../fonts/ws-ui-semibold.eot");
    src: local('WeblySleek UI Bold'), url("../fonts/ws-ui-semibold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url("../fonts/ws-ui-light.eot");
    src: local('WeblySleek UI Light'), url("../fonts/ws-ui-light.woff") format("woff");
    font-weight: 100;
}


/*======= Reset ======== */
body {
  font-family: 'WeblySleek UI', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  color: #4c5667;
  background: #fff;
  font-size: 14px;
  line-height: 22px;
  overflow-x:hidden;
}
::selection{
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}
::-moz-selection {
  background: rgba(151, 160, 175, 0.5);
  color: #ffffff;
}
a:hover,a:focus,.a:active {
  text-decoration: none;
  outline: none !important;
}
h1,.h1 {
  font-weight: 400;
}
blockquote {
  margin: 0 0 10px;
  font-size: 18px;
  border-left: none;
  line-height: 32px;
  font-style: italic;
}
address {
  color: #97a0af;
}
textarea {
  resize:none;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.bg-gray {
  background-color: #eef2f5;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
.bg-dark {
  background: -webkit-linear-gradient(#eee, #eee);
  background: -moz-linear-gradient(#eee, #eee);
  background: -ms-linear-gradient(#eee, #eee);
  background: -o-linear-gradient(#eee, #eee);
  background: linear-gradient(#eee, #eee);
}
.page-sub-title {
  margin: 10px 0px !important;
}
.padding-t-0 {
  padding-top: 0px;
}
.hr {
  display: inline-block;
  border: 0;
  width: 35px;
  margin: 12px 0px 25px;
  padding: 0;
  height: 0;
  border-top: 2px solid #fa4a86;
}
.title {
  font-weight: 300;
  line-height: 50px;
  margin-top: 0px;
}
.sub-title {
  color: #97a0af;
  font-size: 16px;
  margin-bottom: 50px;
}
.bg-overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  background-position: fixed;
  position: absolute;
  top: 0px;
}
.bg-one {
  background: url("../images/bg.jpg");
  background-size: cover;
  position: relative;
}
.bg-two {
  background: url("../images/bg-2.jpg");
  background-size: cover;
  position: relative;
}

/* PRE LOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/preloader.gif");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}


/*===== Navbar Custom ======*/
.navbar-custom {
  padding: 10px 0px;
  margin-bottom: 0px;
}
.navbar-custom .navbar-nav li a{
  color: #ccc;
  font-size: 16px;
}
.navbar-custom .nav>li>a:focus,.navbar-custom .nav>li>a:hover {
  background-color: transparent;
  color: #ffffff;
}
.logo {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff !important;
  letter-spacing: 1px;
}
.navbar-toggle {
  font-size: 30px;
  color: #ffffff;
}
.navbar-custom .btn-custom {
  margin-top: 8px;
  margin-left: 20px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}


/*======= Dropdown ======= */
.dropdown-menu {
  box-shadow: none;
  padding: 4px 0;
  border-radius: 4px !important;
  -webkit-animation: dropdownOpen 0.3s ease-out;
  -o-animation: dropdownOpen 0.3s ease-out;
  animation: dropdownOpen 0.3s ease-out;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.dropdown-menu > li > a {
  padding: 6px 20px;
  font-size: 15px !important;
  color: #ffffff;
}
@-webkit-keyframes dropdownOpen {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes dropdownOpen {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


/*======= Buttons ======= */
.btn {
  text-transform: uppercase;
  font-weight: 700;
}
.btn.btn-rnd {
  padding: 11px 40px;
  border-radius: 30px;
}
.btn-custom:focus {
  background: #fa3b7c;
  border: 1px solid #fa3b7c;
  outline: none;
}
.btn-custom:hover {
  background: #fb6d9d !important;
  border: 1px solid #fb6d9d;
}
.btn-custom {
  background: #fa4a86 !important;
  color: #fff !important;
  border: 1px solid #fa4a86;
}


/*======= Home =======*/
.navbar-abs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}
.home-fullscreen {
  height: 100%;
  min-height: 400px;
}
.home-wrapper {
  color: #ffffff;
  padding: 208px 0px 170px 0px;
}
.home-wrapper-alt{
  display: table-cell;
  vertical-align: middle;
}
.home-wrapper h4 {
  line-height: 24px;
  margin-top: 30px;
  color: #eee;
  margin-bottom: 50px;
  font-size: 16px;
}
.video-btn {
  color: #ffffff !important;
  letter-spacing: 1px;
  padding-top: 20px;
  outline: none !important;
}
.video-btn i {
  margin-right: 7px;
}
.full-screen {
  display: table;
  height: 100%;
  width: 100%;
}

/*======= Brand =======*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients img:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.brand-item {
  display: inline-block;
  margin-left:50px;
  margin-bottom: 10px;
}
.brand-item:first-child {
  margin-left:0;
}
.brand-list {
  margin:0;
  padding:0;
}
.brand-list li {
  display: inline-block;
  text-align: left;
  padding-left:50px;
}
.brand-list li:first-child {
  padding-left:0;
}


/*======= Services =======*/
.service-item {
  margin-bottom: 30px;
}
.service-item i {
  float: left;
  font-size: 28px;
  line-height: 36px;
  width: 30px;
}
.service-item .service-detail {
  margin-left: 50px;
}
.service-item .service-detail p {
  color: #9aa7af;
}


/*======= Features =======*/
.feature-detail {
  padding: 90px 0px 50px 30px;
}
.features-txt {
  color: #97a0af;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
}


/*======= Screenshot =======*/
.thumb {
  background-color: #eef2f5;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 30px;
}
.thumb-img {
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
}


/*======= Pricing =======*/
.pricing-item{
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}
.pricing-item-inner{
  border: 2px solid rgba(151, 160, 175, 0.2);
  vertical-align: middle;
  border-radius: 7px;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.pricing-item-inner:hover{
  border-color: #97a0af;
}
.main .pricing-item-inner{
  border-color: #97a0af;
}
.pricing-wrap{
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 30px 20px;
  text-align: center;
  overflow: hidden;
}
.pricing-icon{
    padding-top: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 32px;
  z-index: 1;
}
.pricing-title{
  position: relative;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
}
.pr-list{
  margin: 0 -20px 30px;
  padding: 0;
  color: #97a0af;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;  
}
.pr-list li{
  padding: 12px 20px;
  list-style: none;
}
.pricing-num{
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
.pricing-num sup{
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -20px;
  left: -3px;
  margin-left: -7px;
}
.pr-per{
  color: #97a0af;
  font-size: 12px;
}
.pr-button {
  margin-top: 30px;
}

/*======= Testimonials =======*/
.clientblock {
  margin-top: 30px;
}


/*======= Footer CTA =======*/
.footer-cta {
  color: #ffffff;
}
.footer-cta .btn {
  margin-top: 30px;
}


/*======= Footer =======*/
.footer h5{
  color: #333;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer a{
  color: #97a0af;
}
.footer a:hover {
  color: #fa4a86;
}
.footer ul li {
  margin: 5px 0px;
}
.footer-alt {
  border-top: 1px solid rgba(151, 160, 175, 0.2);
  margin-top: 30px;
  padding-top: 20px;
}
.footer-alt .logo {
  color: #97a0af !important;
  margin-bottom: 0px;
}
.footer-alt .logo i {
  margin-right: 5px;
}


/*======= FAQ ======*/
.question {
  color: #444;
}
.answer {
  color: #97a0af;
  margin-bottom: 30px;
}


/*======= Our Story ===*/
.our-story .sub-title {
  line-height: 30px;
}


/*======= Team ======*/
.team img {
  border-radius: 5px;
}
.team .team-member {
  margin: 30px 0px;
}
.team .team-member h3 {
  padding-top: 10px;
}
.social-list {
  padding-top: 10px;
}
.social-list li a {
  color: #4c5667;
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #4c5667;
}
.social-list li a:hover {
  color: #fa4a86;
  border: 1px solid #fa4a86;
}


/*======= Contact ======*/
.form-main {
  padding-top: 30px;
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: 2px solid #97a0af;
  height: 38px;
}
.form-control:focus,.form-control:hover {
  border-color: #fa4a86;
}
.error {
  margin: 8px 0px;
  display: none;
  color: red;
}
#ajaxsuccess {
  font-size: 16px;
  width: 100%;
  display: none;
  clear: both;
  margin: 8px 0px;
}
.con_sub_text {
  margin: 20px 0px;
  font-size: 15px;
}


/**
* Simple fade transition for Magnific popup
**/
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out; 
  -moz-transition: all 0.15s ease-out; 
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/*======= Responsive ======*/
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .dropdown-menu.arrow:before, .dropdown-menu.arrow:after {
    position: absolute;
    top: -8px;
    right: 12px;
    display: inline-block;
    content: '';
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
      border-bottom: 8px solid #fff;
  }
  .dropdown-menu > li > a {
    color: #4c5667 !important;
  }
}
@media (max-width: 767px) {
  .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #ffffff;
  }
  .navbar-custom {
    background-color: #333b4d;
  }
}
@media (max-width: 768px) {
  .feature-detail {
    padding: 0px 0px 50px 30px !important;
  }
}